a{
  text-decoration:none;
  color:#333;
}

img.vegas-background2, #logo0{
  display:none !important;
}

img.vegas-background2, #logo0{
  display:none;
}



#logo0{
  background:url('/images/bg2.png') #fff center center no-repeat !important;
  position:absolute;
  width:100%;
  height:100%;
  background:#fff;
  overflow:hidden;
  z-index:999999999;
  border-bottom:1px solid #000;
  .vegas-background2{
    position:absolute;
    height:100%;
    width:100%;
  }
}

body{
//  font-family:Verdana, sans-serif, Tahoma;
  font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}



body.introAnimation{
  img.vegas-background2, #logo0{
    display:block !important;
  }
}

#industry{
//  margin-top:-50px;
  img{
    width: 100%;
    margin: 0 0 20px 0;
  }
}



p{
  line-height:25px;
  margin-bottom:25px;
}

#header{
  display:block;
  text-align:center;
  padding-top:50px;
  margin-top:0;
  img#logo{
    width:300px;
    margin:0 auto 15px auto; 
  }
  
  nav{
    text-align:center;
    
    
    background: rgb(12,49,160); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(12,49,160,1) 0%, rgba(7,33,94,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(12,49,160,1)), color-stop(100%,rgba(7,33,94,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(12,49,160,1) 0%,rgba(7,33,94,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(12,49,160,1) 0%,rgba(7,33,94,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(12,49,160,1) 0%,rgba(7,33,94,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(12,49,160,1) 0%,rgba(7,33,94,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c31a0', endColorstr='#07215e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height:48px;
    line-height:48px;
    position:relative;
    
    width:1000px;
    margin: 0 auto;
    -webkit-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    #shadow{
      display:block !important;
    }
    a{
      display: inline-block;
      color: #fff;
      padding: 0 15px;
      border-right: 1px solid #495D72;
      height: 29px;
      line-height: 27px;
      font-family:"Times New Roman",Georgia,Serif !important;
      font-weight: normal;
      font-size: 19px;
      letter-spacing: 0.25em;
      &:hover, &.current{
        color:#65658B;
      }
      
      &.current{
//        text-decoration:underline;
      }
      &.last{
        border-right:none;
      }
    }
    
    img#shadow{
      position: absolute;
      bottom: -8px;
      left: 0;
      z-index:2;
//      display:none;
    }
  }
}

#wrap{
  width: 960px;
  margin: 0 auto;
  line-height: 20px;
  border: 1px solid #ccc;
//  padding: 40px;
//  text-shadow: 0 0 5px #D6D6D6;
  #hero{
    margin-bottom:20px;
  }
  aside{
    float:left;
    width:270px;
    display:block;
    padding:40px;
    h3{
      margin-bottom:20px;
      
      a{
        font-style:italic;
        font-weight:bold;
        color:#0c31a0;
        text-decoration:underline;
      }
    }
    
    
    .industriesList{
      img{
        height:85px;
      }
    }
  }
  
  #hero-wrap{
    position:relative;
    img{
      width:100%;
//      padding:7px;
//      border:1px solid #E2E2E2
    }
    #hero-text{
        position:absolute;
        left:0;
        right:0;
        top:50%;
        color:#fff;
        text-align:center;
        text-shadow: 0 0 10px #000000;
        div{
          display:block;
          font-size:30px;
          margin-bottom:20px;
        }
        span{
          
        }
      }
  }
  
  
  section{
//    padding:10px;
    float:left;
    width:585px;
    padding-bottom:80px;
    padding-top:40px;
    
    #hero-wrap {
      img{
        padding:7px;
        border:1px solid #E2E2E2
      }
    }
    
    .bio{
      img{
        float:left;
        margin:0 20px 20px 0;
      }
    }
  }
  
  .fullWidth{
    img{
      margin:0 15px 15px 0;
    }
    #line{
      
      width:50%;
      border-bottom:1px solid #dbdbdb;
      margin:0 auto 30px auto;
    }
    .text-wrap{
      padding:20px;
    }
  }
  
  
  

  
  h3{
      font-size:bold;
      font-size: 14pt;
      text-transform: uppercase;
      
  }
  h6{
      margin-top: .75em;
      font-weight: bold;
  }

  ul{
      li{
          color: #333;
          font-weight: normal;
          font-size:15px;
          margin-bottom:15px;
          a{
            
          }
      }
  }
  h1{
      font-size:28px;
      border-bottom:1px solid #dbdbdb;
      padding:0 0 .75em 0;
      margin-bottom:.75em;
  }
  
}




footer{
    border-top:1px solid #dbdbdb;
    margin-top:32px;
    clear:both;
    height:60px;
    line-height:60px;
    font-size:12px;
    text-shadow:none;
    .left{
      float:left;
    }
    .right{
      float:right;
    }
}


body{
    
    #header{
      background-size:100% 100%;
    }
    
//    &.agriculture #header{
//      background-image:url('http://www.energylandscapes.net/images/large/AF4A2717-III-WEB.jpg');
//    }
//    &.energy #header{
//      background-image:url('http://www.energylandscapes.net/images/large/AF4A2717-III-WEB.jpg');
//    }
//    &.industrials #header{
//      background-image:url('http://www.energylandscapes.net/images/large/AF4A8790-IV-WEB.jpg');
//    }
//    &.metals #header{
//      background-image:url('http://www.energylandscapes.net/images/large/AF4A8022-IV-1-2-Pan-WEB.jpg');
//    }
    
}

.imageFrame{
  border: 1px solid #E2E2E2;
  padding: 7px;
}


.column{
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 60px; /* Chrome, Safari, Opera */
  -moz-column-gap: 60px; /* Firefox */
  column-gap: 60px;
//  -webkit-column-rule: 3px outset #ff00ff; /* Chrome, Safari, Opera */
//  -moz-column-rule: 3px outset #ff00ff; /* Firefox */
//  column-rule: 3px outset #ff00ff;
  padding:0 20px;
  text-align:justify;
}