a {
  text-decoration: none;
  color: #333; }

img.vegas-background2, #logo0 {
  display: none; }

body {
  font-family: Verdana, sans-serif, Tahoma !important; }

.home #header {
  margin-bottom: 0; }
  .home #header nav {
    width: 1000px;
    margin: 0 auto; }
    .home #header nav #shadow {
      display: block !important; }

p {
  line-height: 25px;
  margin-bottom: 25px; }

#header {
  display: block;
  text-align: center;
  margin: 50px 0; }
  #header img#logo {
    width: 300px;
    margin: 0 auto; }
  #header nav {
    text-align: center;
    background: #1e5799;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #1e5799 0%, #207cca 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #1e5799), color-stop(100%, #207cca));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #1e5799 0%, #207cca 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #1e5799 0%, #207cca 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #1e5799 0%, #207cca 100%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, #1e5799 0%, #207cca 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#207cca',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    height: 48px;
    line-height: 48px;
    position: relative; }
    #header nav a {
      display: inline-block;
      color: #fff;
      padding: 0 32px;
      border-right: 1px solid #ccc;
      height: 29px;
      line-height: 27px; }
      #header nav a:hover {
        color: #ccc; }
      #header nav a.last {
        border-right: none; }
    #header nav img#shadow {
      position: absolute;
      bottom: -8px;
      left: 0;
      display: none; }

#wrap {
  width: 960px;
  margin: 0 auto;
  line-height: 20px;
  text-shadow: 0 0 5px #D6D6D6; }
  #wrap aside {
    float: left;
    width: 270px;
    display: block; }
  #wrap section {
    padding: 10px;
    float: left;
    width: 670px; }
    #wrap section img.right {
      float: right; }
    #wrap section .bio img {
      float: left;
      margin: 0 20px 20px 0; }
  #wrap h3 {
    font-size: bold;
    font-size: 14pt;
    text-transform: uppercase; }
  #wrap h6 {
    margin-top: .75em;
    font-weight: bold; }
  #wrap ul li {
    color: #333;
    font-weight: normal;
    font-size: 15px; }
  #wrap h1 {
    font-size: 28px;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 0 .75em 0;
    margin-bottom: .75em; }

footer {
  border-top: 1px solid #dbdbdb;
  margin-top: 32px;
  clear: both;
  height: 60px;
  line-height: 60px;
  font-size: 12px;
  text-shadow: none; }
