<aside>
    <h3><a href="/#/team">TEAM</a></h3>
    <ul>
        <li><a href="/#/team/chad">&vellip; Chad</a></li>
        <li><a href="/#/team/person2">&vellip; Person 2</a></li>
        <li><a href="#"></a></li>
    </ul>
</aside>
<section ui-view>
    <h1>Investment Professionals</h1>
    <p>RMR’s investment activities are led by Chad, who collectively have over 60 years of financing experience as principals or agents in the oil and gas industry.</p>
    <img src="/images/team.png" />
</section>