<!-- <aside>
    <h3>ABOUT US</h3>
    <ul>
        <li><a href="#/about/approach">&vellip; Investment Approach</a></li>
        <li><a href="#/about/attributes">&vellip; Investment Attributes</a></li>
    </ul>
</aside> -->
<div class="fullWidth">
    <!-- <h1>Investments</h1> -->
    <div id="hero-wrap">
      <img src="/images/oil.jpg" />
      <!-- <div id="hero-text">
        <div>Something Witty</div>
        <span>short description of company</span>
      </div> -->
    </div>
    
<div class="text-wrap">
      <p>Rocky Mountain Resource Holdings (“RMR”) is a holding company which acquires and develops proprietary natural resource assets. RMR demonstrates its leadership by focusing on unique asset discovery and providing specialized operating capabilities. RMR maintains positions in oil and gas reserves; agribusinesses; energy infrastructure; and industrial minerals and chemicals. RMR differentiates by outperforming conventional operators through all market cycles. RMR principals have been active in natural resources for a combined 75 years and have worked together for over a decade. RMR maintains offices in Los Angeles and Denver.</p>
 
  <p>RMR has a proven strategy of forming and developing scalable natural resource enterprises. RMR’s principals and affiliates played a key role in the founding and principal financing of companies which have raised over $600 million in the last 36 months, including public market listings (NYSE and NASDAQ).</p>
</div>
    





</div>
