<img src="header3.jpg" />
<div class="maincontent">
    <h4>About</h4>
    <p>Natural Gas Partners (NGP) is a $10.5 billion family of private equity funds that makes direct equity investments in energy companies.  The firm invests where there is a clear match between a management team’s growth strategy and NGP’s unique sponsorship capabilities.  NGP understands the dynamics of investing in a commodity business and works to support its portfolio as it executes its growth strategy.

    The strength of the firm lies in establishing relationships with “owner-managers” who see the mutual advantage of having an active equity sponsor, and then financing those management teams numerous times over many years.  NGP’s investments range from $10-$500 million.

    Investing in energy since 1988, the NGP team offers both continuity and depth of experience.  We are proud of the reputation we have earned as a solid and dependable financial partner for the industry and as responsible custodians of our investors' capital.</p>
</div>
