<img src="header3.jpg" />
<div class="maincontent">
    <h4>Our Mission</h4>
    <p>Natural Gas Partners will generate superior risk-adjusted investment returns while forming and maintaining the highest quality industry relationships and will conduct its business according to the highest standards of honesty, integrity and fairness.</p>
    
</div>
<div id="chart">
    <img src="/chart.jpg" />
</div>
<div class="maincontent">
    <h4>Who We Are</h4>
    <p>Founded in 1988, Natural Gas Partners manages a family of funds that invests private equity capital in oil and gas production, midstream and oilfield services companies. The NGP platform consists of a series of ten private equity funds with cumulative commitments exceeding $10.5 billion since inception.</p>

    <p>Natural Gas Partners is part of the investment platform of NGP Energy Capital Management, a premier investment franchise in the natural resources industry which, together with its affiliates, has managed $13 billion in committed capital since inception.</p>
</div>

            

            
            
            
    <script type="text/javascript">
    $(function(){
        var bg = $('.vegas-background2');
        var logo = $('#logo0');
        // TweenLite.to(bg, 2, {left:"542px", backgroundColor:"black", borderBottomColor:"#90e500", color:"white"});
        var intro = new TimelineLite({
            onComplete: function(){
                $(".vegas-background2, #logo0").remove();
            }
        });
    
        intro.to(bg,4 ,{
          // opacity: 0,
          scale: 2, 
          transformOrigin:"50% 50% 0",
          // ease: 'easeInQuart',
          ease: 'easeInCubic',
          // onStart: function(){
//             $("#questions").fadeOut(1000);
//           }
        })
        .to(bg,1.5,{opacity:0},'-=0.5')
        .to(logo,1,{
            // scale: 15, 
            opacity:0,
            transformOrigin:"50% 50% 0",
            ease: 'easeOutCubic'
        },'=1');
    });
    

    </script>