<div id="hero" style="position:relative">
    <img src="/images/homepage.jpg" />
</div>
<div id="video">
    <div>IN THE NEWS:</div>
    <!-- <iframe src="http://player.theplatform.com/p/gZWlPC/vcps_inline?byGuid=3000327473&size=440_290" width="450" height="298" type="application/x-shockwave-flash" allowFullScreen="true" bgcolor="#131313" style="margin-right:15px; height: 316px; overflow:hidden"></iframe>


    <img src="/images/video2.png" />
    <iframe id="youtube" width="450" height="285" src="" data-url="https://www.youtube.com/embed/MRsEFvZkoJE?start=168&autoplay=1" frameborder="0" allowfullscreen></iframe> -->
    
    
    
    
    <object data='http://www.bloomberg.com/video/embed/ytp9hUFVSemhvyaGcMJO_A?height=285&width=450' width=450 height=285 style='overflow:hidden;'></object>
    
    <iframe src="http://player.theplatform.com/p/gZWlPC/vcps_inline?byGuid=3000338531&size=440_285" width="450" height="285px" type="application/x-shockwave-flash" allowFullScreen="true" bgcolor="#131313" style="margin-right:15px; height: 285px; overflow:hidden"></iframe>

    
    
    
    
</div>