<aside>
    <ul class="industriesList">
        <li><a href="/operations/agriculture"><img src="/images/industries/ag.png" /></a></li>
        <li><a href="/operations/energy"><img src="/images/industries/energy.png" /></a></li>
        <li><a href="/operations/industrials"><img src="/images/industries/industrial.png" /></a></li>
        <li><a href="/operations/metals" class="last"><img src="/images/industries/metals.png" /></a></li>
    </ul>
    <ul class="industriesList-mobile">
        <li><a href="/operations/agriculture">AGRICULTURE</a></li>
        <li><a href="/operations/energy">ENERGY</a></li>
        <li><a href="/operations/industrials">INDUSTRIAL</a></li>
        <li><a href="/operations/metals" class="last">METALS</a></li>
    </ul>
</aside>
<section ui-view>
    <div id="industry" class="ng-scope">
      <!-- <h1>Operational Expertise</h1> -->
      <div id="hero-wrap">
        <img class="imageFrame" src="/images/industries/hero.jpg" />
        <!-- <div id="hero-text">
          <div>Operations.  It's what we do.</div>
          <span>these are the industries we excel in</span>
        </div> -->
      </div>
      
    </div>
</section>