<aside>
    <h3>INDUSTRIES</h3>
    <ul>
        <li><a href="/#operations/agriculture">&vellip; Agriculture</a></li>
        <li><a href="/#operations/energy">&vellip; Energy</a></li>
        <li><a href="/#operations/industrials">&vellip; Industrials</a></li>
        <li><a href="/#operations/metals" class="last">&vellip; Metals & Mining</a></li>
    </ul>
</aside>
<section ui-view>
    <div id="industry" class="ng-scope">
      <h1>Operational Expertise</h1>
      <div id="hero-wrap">
        <img src="http://www.energylandscapes.net/images/large/AF4A2717-III-WEB.jpg" />
        <div id="hero-text">
          <div>Something Witty</div>
          <span>short description of company</span>
        </div>
      </div>
      
      
      
      
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</section>