<aside>
    <!-- <h3><a href="/#operations">INDUSTRIES</a></h3> -->
    <!-- <ul>
        <li><a href="/#operations/agriculture">&vellip; Agriculture</a></li>
        <li><a href="/#operations/energy">&vellip; Energy</a></li>
        <li><a href="/#operations/industrials">&vellip; Industrials</a></li>
        <li><a href="/#operations/metals" class="last">&vellip; Metals & Mining</a></li>
    </ul> -->
    <ul class="industriesList">
        <li><a href="/#operations/agriculture"><img src="/images/industries/ag.png" /></a></li>
        <li><a href="/#operations/energy"><img src="/images/industries/energy.png" /></a></li>
        <li><a href="/#operations/industrials"><img src="/images/industries/industrial.png" /></a></li>
        <li><a href="/#operations/metals" class="last"><img src="/images/industries/metals.png" /></a></li>
    </ul>
</aside>
<section ui-view>
    <div id="industry" class="ng-scope">
      <!-- <h1>Operational Expertise</h1> -->
      <div id="hero-wrap">
        <img class="imageFrame" src="http://www.energylandscapes.net/images/large/AF4A2717-III-WEB.jpg" />
        <!-- <div id="hero-text">
          <div>Operations.  It's what we do.</div>
          <span>these are the industries we excel in</span>
        </div> -->
      </div>
      
    </div>
</section>